/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

.variant-filled-admin {
	@apply bg-error-500;
}

.variant-filled-pro {
	@apply bg-primary-500;
}

#page {
	@apply overflow-hidden;
}

#page-content {
	@apply overflow-y-auto;
}
